.task
  .task__index
    .task__index--title 
      %p #{current_user.nickname}さんのタスク一覧
    %table
      %thead
        %tr.task__unit--header
          %th.task__unit--header--title タイトル
          %th.task__unit--header--content メモ
          %th.task__unit--header--start_date 開始日
          %th.task__unit--header--end_date 終了日


      %tbody
        - @tasks.each do |task|
          %tr.task__unit
            %td.task__unit--title= task.title
            %td.task__unit--content= task.content
            %td.task__unit--start_date= task.start_date
            %td.task__unit--end_date= task.end_date
            %td 詳細
            %td 編集
            %td 削除










  -# %td= link_to 'Show', task
  -# %td= link_to 'Edit', new_user_path(task)
  -# %td= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }
