.top
  .top__container
    .sign
      .sign__top
        %pログイン
      .sign__container
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            = f.label :メールアドレス 
            %br
            = f.email_field :email, placeholder:"メールアドレス", autofocus: true, autocomplete: "email",class: "sign__container--input"

          .field.login__container--input
            = f.label :パスワード 
            %br
            = f.password_field :password, placeholder:"パスワード", autocomplete: "current-password",class: "sign__container--input"
          -if devise_mapping.rememberable?
            .field.sign__container--rememberable
              = f.check_box :remember_me
              = f.label :ログインしたままにする

          .actions
            = f.submit "ログイン", class:"btn signup--signin"
          .actions
            = f.submit "かんたんログイン", class:"btn easybtn"
          = link_to 'Facebookでログイン', user_facebook_omniauth_authorize_path, method: :post, class: "btn facebook--btn"
          = link_to 'Googleでログイン', user_google_oauth2_omniauth_authorize_path, method: :post, class: "btn google--btn"


        - if devise_mapping.registerable? && controller_name != 'registrations'
          = link_to "新規登録", new_registration_path(resource_name), class:"sign__container--registration devise--link" 
          %br
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "パスワードをお忘れですか？", new_password_path(resource_name),class:"sign__container--recover devise--link"
    