.event
  .event__show

    %p
      %b.event__show--title タスクのタイトル:
      = @event.title
    %p
      %b.event__show--content メモ:
      = @event.content
    %p
      %b.event__show--start_date 開始日:
      = @event.start_date.to_s(:datetime_jp)
    %p
      %b.event__show--end_date 終了日:
      = @event.end_date.to_s(:datetime_jp)

    = link_to '編集', edit_user_event_path(current_user,@event), class:"event__edit--btn"
    = link_to '一覧に戻る', user_events_path(current_user), class: "index--back--btn"
