.top
  .top__container
    .sign
      .sign__top
        %pパスワードをお忘れの方
      .sign__container

        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource

          .field
            = f.label :メールアドレス
            %br
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"ご登録されたメールアドレス", class: "sign__container--input"

            = f.submit "パスワード再設定のメールを送る", class: "btn"
        .new--password--links
          = render "users/shared/links"
