.user__menu
  .user--info
    .user--info__image
      = image_tag @user.image.url, class: 'icon_image', alt: 'default.png'
    
    .user--info__name
      %p= @user.nickname
      -if user_signed_in? && @user.id == current_user.id
        = link_to "プロフィール編集", edit_user_path(current_user), class: "user--info__edit", method: :get
        = link_to "タスクの追加", new_user_event_path(current_user), class: "user--info__edit"
        = link_to "タスクパズル", user_puzzles_path(current_user), class: "user--info__edit"

.task--puzzle__edit
  %p.task--puzzle__edit--header タスクパズルの編集
  .task--puzzle__edit--unit
    = form_for @puzzle, url: user_puzzle_path, method: :patch do |f|
      - if @puzzle.errors.any?
        #error_explanation
          %ul
            - @puzzle.errors.full_messages.each do |message|
              %li= message

      .field.puzzle__form--field
        = f.label :タスク：, class: "puzzle__form--label"
        = f.text_field :task, class: "puzzle__form--title--input"
      .actions
        = f.submit '編集', class: "puzzle__form--btn"
