.user__menu
  .user--info
    .user--info__image
      = image_tag @user.image.url, class: 'icon_image', alt: 'default.png'
    
    .user--info__name
      %p= @user.nickname
      -if user_signed_in? && @user.id == current_user.id
        = link_to "プロフィール編集", edit_user_path(current_user), class: "user--info__edit", method: :get
        = link_to "タスクの追加", new_user_event_path(current_user), class: "user--info__edit"
      = link_to "タスクパズル", user_puzzles_path(@user), class: "user--info__edit"

.task__index
  .task__index--unit1
    %p タスク1:
    %p= @puzzles[0].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[0]), class: "task__index--edit--link"
    -if @puzzles[0].square
      = link_to "",user_puzzle_path(@user,@puzzles[0],puzzle: {square: false}), method: :put, class: 'fa fa-check-square fa-lg puzzle-check'
    - else
      = link_to "",user_puzzle_path(@user,@puzzles[0],puzzle: {square: true}), method: :put, class: 'fa fa-square fa-lg puzzle-check'



  .task__index--unit2
    %p タスク2:
    %p= @puzzles[1].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[1]), class: "task__index--edit--link"
    .round.position
      %input#checkbox2.TC-btn{:type => "checkbox"}/
      %label{:for => "checkbox2"}


  .task__index--unit3
    %p タスク3:
    %p= @puzzles[2].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[2]), class: "task__index--edit--link"
    .round.position
      %input#checkbox3.TR-btn{:type => "checkbox"}/
      %label{:for => "checkbox3"}


  .task__index--unit4
    %p タスク4:
    %p= @puzzles[3].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[3]), class: "task__index--edit--link"
    .round.position
      %input#checkbox4.CL-btn{:type => "checkbox"}/
      %label{:for => "checkbox4"}

    
  .task__index--unit5
    %p タスク5:
    %p= @puzzles[4].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[4]), class: "task__index--edit--link"
    .round.position
      %input#checkbox5.CC-btn{:type => "checkbox"}/
      %label{:for => "checkbox5"}


  .task__index--unit6
    %p タスク6:
    %p= @puzzles[5].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[5]), class: "task__index--edit--link"
    .round.position
      %input#checkbox6.CR-btn{:type => "checkbox"}/
      %label{:for => "checkbox6"}


  .task__index--unit7
    %p タスク7:
    %p= @puzzles[6].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[6]), class: "task__index--edit--link"
    .round.position
      %input#checkbox7.BL-btn{:type => "checkbox"}/
      %label{:for => "checkbox7"}

  
  .task__index--unit8
    %p タスク8:
    %p= @puzzles[7].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[7]), class: "task__index--edit--link"
    .round.position
      %input#checkbox8.BC-btn{:type => "checkbox"}/
      %label{:for => "checkbox8"}


  .task__index--unit9
    %p タスク9:
    %p= @puzzles[8].task
    .task__index--edit
    -if user_signed_in? && @user.id == current_user.id
      = link_to "編集", edit_user_puzzle_path(current_user,@puzzles[8]), class: "task__index--edit--link"
    .round.position
      %input#checkbox9.BR-btn{:type => "checkbox"}/
      %label{:for => "checkbox9"}

.canvas--wrapper

  %canvas#stage{:height => "540", :width => "540"}
  %canvas#top-left{:height => "180", :width => "180"}
  %canvas#top-center{:height => "180", :width => "180"}
  %canvas#top-right{:height => "180", :width => "180"}
  %canvas#center-left{:height => "180", :width => "180"}
  %canvas#center-center{:height => "180", :width => "180"}
  -if @puzzles[0].square  
    %canvas#center-right{:height => "180", :width => "180"}
  %canvas#bottom-left{:height => "180", :width => "180"}
  %canvas#bottom-center{:height => "180", :width => "180"}
  %canvas#bottom-right{:height => "180", :width => "180"}
  %canvas#line{:height => "540", :width => "540"}
