.user__menu
  .user--info
    .user--info__image
      = image_tag @user.image.url, class: 'icon_image', alt: 'default.png'
    
    .user--info__name
      %p= @user.nickname
      -if user_signed_in? && @user.id == current_user.id
        = link_to "プロフィール編集", edit_user_path(current_user), class: "user--info__edit", method: :get
        = link_to "タスク一覧", user_events_path(current_user), class: "user--info__edit"
        = link_to "タスクの追加", new_user_event_path(current_user), class: "user--info__edit"
        = link_to "タスクパズル", user_puzzles_path(current_user), class: "user--info__edit"

.puzzle__menu
  .task__edit
    %p.task__edit--link#task-modal-show タスクの編集

.task-modal
  .task-modal__title
    %p.task-modal__title--text タスクを入力してください
    .fas.fa-window-close.fa-lg#modal-close

  .task-modal__edit
    %p タスク1
    = form_with(model: @puzzle, local: true, id: "input-task-1") do |f|
      = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
      = f.submit '決定',id:"task-btn-1" , class:"task-modal__btn"


.task__index