.user__menu
  .user--info
    .user--info__image
      = image_tag @user.image.url, class: 'icon_image', alt: 'default.png'
    
    .user--info__name
      %p= @user.nickname
      -if user_signed_in? && @user.id == current_user.id
        = link_to "プロフィール編集", edit_user_path(current_user), class: "user--info__edit", method: :get
        = link_to "タスク一覧", user_events_path(current_user), class: "user--info__edit"
        = link_to "タスクの追加", new_user_event_path(current_user), class: "user--info__edit"
        = link_to "タスクパズル", user_puzzles_path(current_user), class: "user--info__edit"

.puzzle__menu