.user__menu
  .user--info
    .user--info__image
      = image_tag @user.image.url, class: 'icon_image', alt: 'default.png'
    
    .user--info__name
      %p= @user.nickname
      -if user_signed_in? && @user.id == current_user.id
        = link_to "プロフィール編集", edit_user_path(current_user), class: "user--info__edit", method: :get
        = link_to "タスクの追加", new_user_event_path(current_user), class: "user--info__edit"
        = link_to "タスクパズル", user_puzzles_path(current_user), class: "user--info__edit"

.puzzle__menu
  .task__edit
    %p.task__edit--link#task-modal-show タスクの編集

.task-modal
  .task-modal__title
    %p.task-modal__title--text タスクを入力してください
    .fas.fa-window-close.fa-lg#modal-close


  -# - @puzzles.each do |puzzle|
  .task-modal__edit
    %p タスク1
    = form_with(model: @puzzle, url: user_puzzle_path, method: :patch) do |f|
      = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
      = f.submit '決定',id:"task-btn-1" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク2
  -#   = form_with(model: @puzzle, local: true, id: "input-task-2") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-2" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク3
  -#   = form_with(model: @puzzle, local: true, id: "input-task-3") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-3" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク4
  -#   = form_with(model: @puzzle, local: true, id: "input-task-4") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-4" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク5
  -#   = form_with(model: @puzzle, local: true, id: "input-task-5") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-5" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク6
  -#   = form_with(model: @puzzle, local: true, id: "input-task-6") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-6" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク7
  -#   = form_with(model: @puzzle, local: true, id: "input-task-7") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-7" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク8
  -#   = form_with(model: @puzzle, local: true, id: "input-task-8") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-8" , class:"task-modal__btn"

  -# .task-modal__edit
  -#   %p タスク9
  -#   = form_with(model: @puzzle, local: true, id: "input-task-9") do |f|
  -#     = f.text_field :task, placeholder: "タスクを入力", class: "task-modal__input"
  -#     = f.submit '決定',id:"task-btn-9" , class:"task-modal__btn"

.task__index
  .task__index--unit1
    %p タスク1:
    -if @puzzles[0] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[0].task
    .round.position
      %input#checkbox.TL-btn{:type => "checkbox"}/
      %label{:for => "checkbox"}


  .task__index--unit2
    %p タスク2:
    -if @puzzles[1] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[1].task
    .round.position
      %input#checkbox2.TC-btn{:type => "checkbox"}/
      %label{:for => "checkbox2"}


  .task__index--unit3
    %p タスク3:
    -if @puzzles[2] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[2].task
    .round.position
      %input#checkbox3.TR-btn{:type => "checkbox"}/
      %label{:for => "checkbox3"}


  .task__index--unit4
    %p タスク4:
    -if @puzzles[3] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[3].task
    .round.position
      %input#checkbox4.CL-btn{:type => "checkbox"}/
      %label{:for => "checkbox4"}

    
  .task__index--unit5
    %p タスク5:
    -if @puzzles[4] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[4].task
    .round.position
      %input#checkbox5.CC-btn{:type => "checkbox"}/
      %label{:for => "checkbox5"}


  .task__index--unit6
    %p タスク6:
    -if @puzzles[5] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[5].task
    .round.position
      %input#checkbox6.CR-btn{:type => "checkbox"}/
      %label{:for => "checkbox6"}


  .task__index--unit7
    %p タスク7:
    -if @puzzles[6] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[6].task
    .round.position
      %input#checkbox7.BL-btn{:type => "checkbox"}/
      %label{:for => "checkbox7"}

  
  .task__index--unit8
    %p タスク8:
    -if @puzzles[7] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[7].task
    .round.position
      %input#checkbox8.BC-btn{:type => "checkbox"}/
      %label{:for => "checkbox8"}


  .task__index--unit9
    %p タスク9:
    -if @puzzles[8] === nil
      %p タスクが入力されていません
    -else
      %p= @puzzles[8].task
    .round.position
      %input#checkbox9.BR-btn{:type => "checkbox"}/
      %label{:for => "checkbox9"}

.canvas--wrapper

  %canvas#stage{:height => "540", :width => "540"}
  %canvas#top-left{:height => "180", :width => "180"}
  %canvas#top-center{:height => "180", :width => "180"}
  %canvas#top-right{:height => "180", :width => "180"}
  %canvas#center-left{:height => "180", :width => "180"}
  %canvas#center-center{:height => "180", :width => "180"}
  %canvas#center-right{:height => "180", :width => "180"}
  %canvas#bottom-left{:height => "180", :width => "180"}
  %canvas#bottom-center{:height => "180", :width => "180"}
  %canvas#bottom-right{:height => "180", :width => "180"}
  %canvas#line{:height => "540", :width => "540"}
